In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = pd.read_csv('./home-data-for-ml-course/train.csv')

In [3]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
feature_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = data[feature_columns]

In [7]:
y = data['SalePrice']

In [15]:
# Split the data into train and validation split

train_X, val_X, train_y, val_y = train_test_split(X,y,random_state=1)

In [16]:
# Define the model to be used
model = DecisionTreeRegressor(random_state=1)

In [17]:
# Fit the model
model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [33]:
# Make predicitons with validation data
val_predictions = model.predict(val_X)

In [37]:
# Top few validation predicitions
val_predictions[0:5]

array([186500., 184000., 130000.,  92000., 164500.])

In [36]:
# Top few values from actual prcies from validation set
val_y

258     231500
267     179500
288     122000
649      84500
1233    142000
         ...
1017    187500
534     178000
1334    125000
1369    232000
628     135000
Name: SalePrice, Length: 365, dtype: int64

What do you notice that is different from what you saw with in-sample predictions(First_Machine_Learning_Model.ipynb).

Do you remember why validation predictions differ from in-sample (or training) predictions? This is an important idea from the last notebook.

In [39]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y, val_predictions)
# Print Mean Absolute Error
print(val_mae)

29652.931506849316